.Cart {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.Items {
	display: flex;
	flex-direction: column;
	margin-right: 100px;
	justify-content: flex-start;
}

.CartTotal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
