.CarouselItem {
	height: 450px;
	width: 100vw;
	box-shadow: -1px 0px 8px 3px rgba(0, 0, 0, 0.1);
	// position: relative;
	display: flex;
	justify-content: center;
}

.Grey {
	background-color: #b2b2b2;
	width: 50vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.White {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 50vw;

	img {
		padding-right: 80px;
		height: 70%;
		width: 70%;
	}
}

.Number {
	font-size: 250px;
	font-weight: bold;
	padding: 20px;
	// padding-left: 200px;
}

.Info {
	text-align: left;
	padding: 30px;
	font-size: 20px;
	font-weight: bold;
	h4 {
		font-size: 30px;
	}
}

span {
	font-weight: 200;
}
