.Photo {
	box-shadow: -1px 0px 8px 3px rgba(0, 0, 0, 0.1);
	height: 220px;
	width: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.CartItem {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 200px;
}

.Desc {
	width: 280px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.BinQty {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
