@import "../../assets/typography.scss";

.LargeHeading {
	font-family: $heading-font;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 20px;
	font-size: 70px;
	padding: 0;
}
