$phone: 576px;
$tablet: 768px;
$landscape-tablet: 992px;
$laptop: 1200px;

@mixin phone {
	@media only screen and (max-width: $phone) {
		@content;
	}
}

@mixin tablet {
	@media only screen and (min-width: $phone + 1) and (max-width: $tablet) {
		@content;
	}
}

@mixin landscape-tablet {
	@media only screen and (min-width: $tablet + 1) and (max-width: $landscape-tablet) {
		@content;
	}
}

@mixin laptop {
	@media only screen and (min-width: $landscape-tablet + 1) and (max-width: $laptop) {
		@content;
	}
}

@mixin large-screen {
	@media only screen and (mix-width: $laptop + 1) {
		@content;
	}
}

@mixin laptop-and-smaller {
	@media only screen and (max-width: $laptop) {
		@content;
	}
}

@mixin tablet-and-smaller {
	@media only screen and (max-width: $tablet) {
		@content;
	}
}
