@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Urbanist:wght@300;400;600&display=swap");

%nav-text {
	font-family: "Urbanist", sans-serif;
	font-size: 20px;
	font-weight: lighter;
}

$heading-font: "Michroma", sans-serif;
