.App {
	margin-top: 2vw;
	text-align: center;
	font-family: "Urbanist", sans-serif;
	font-size: 16px;

	@media only screen and (max-width: 768px) {
		width: 100vw;
	}
}

body {
	width: 100vw;
	overflow-x: hidden;
}
