@import "../../assets/typography.scss";

.NavItems {
	@extend %nav-text;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin: 20px;

	li {
		margin-left: 25px;
		margin-right: 25px;
		text-decoration: none;
	}
}

.Link {
	text-decoration: none;
	color: black;

	&_Selected {
		font-weight: bold;
	}
}
